  <div class="tabs">
    <button [class.active]="selectedTab === 'lesson'" (click)="selectedTab = 'lesson'">Занятие</button>
    <button [class.active]="selectedTab === 'about'" (click)="selectedTab = 'about'">О занятии</button>
    <button [class.active]="selectedTab === 'description'" (click)="selectedTab = 'description'">Описание</button>
  </div>

  <div class="tab-content" *ngIf="lesson$ | async as lesson">
    <!-- Вкладка: Занятие -->
    <ng-container *ngIf="selectedTab === 'lesson'">
      <p>
        Вы записались на занятие, которое пройдет
        {{ lesson.dateOfLesson | date: 'd MMMM в HH:mm' }}
      </p>
      <p><strong>Тип:</strong> {{ lesson.type }}</p>
      <p><strong>Тема:</strong> {{ lesson.topic }}</p>
<!--      <button>Перенести занятие</button>-->
      <button class="btn" (click)="openSession()">Открыть виртуальный урок</button>
      <button class="btn" *ngIf="currentRole === 'logoped'" (click)="openDiagnostic()">Открыть диагностику</button>
    </ng-container>

    <!-- Вкладка: О занятии -->
    <ng-container *ngIf="selectedTab === 'about'">
      <div class="block-row">
        <!-- Блок: Логопед -->
        <div class="block">
          <h3>Логопед</h3>
          <p *ngIf="lesson.logoped">
            {{ lesson.logoped.firstName }} {{ lesson.logoped.secondName }}<br>
            Email: {{ lesson.logoped.email }}<br>
            Телефон: {{ lesson.logoped.phone }}
          </p>
          <p *ngIf="!lesson.logoped">Логопед не назначен</p>
        </div>

        <!-- Блок: Пациенты -->
        <div class="block">
          <h3>Пациенты</h3>
          <ul>
            <li *ngFor="let patient of lesson.patients">
              {{ patient.firstName }} {{ patient.secondName }}
            </li>
          </ul>
        </div>

        <!-- Блок: Домашнее задание -->
        <div class="block">
          <h3>Домашнее задание</h3>
          <p *ngIf="lesson.homework">{{ lesson.homework.task }}</p>
          <p *ngIf="!lesson.homework">Нет домашнего задания</p>
        </div>
      </div>
    </ng-container>

    <!-- Вкладка: Описание -->
    <ng-container *ngIf="selectedTab === 'description'">
      <div class="block-row">
        <div class="block">
          <h3>О занятии</h3>
          <p><strong>Тип:</strong> {{ lesson.type }}</p>
          <p><strong>Дата:</strong> {{ lesson.dateOfLesson | date:'fullDate' }}</p>
        </div>

        <div class="block">
          <h3>Описание</h3>
          <p>{{ lesson.description || 'Описание отсутствует' }}</p>
        </div>

        <div class="block">
          <h3>Дополнительно</h3>
          <p>Здесь можно добавить ссылки, заметки или статус.</p>
        </div>
      </div>
    </ng-container>
  </div>
