<div class="lessons-container">
  <!-- Sidebar: dropdown -->
  <aside class="sidebar">
    <select id="childSelect" [(ngModel)]="selectedChildId">
      <option [ngValue]="0">-- Все дети --</option>
      <option *ngFor="let child of childrenData" [ngValue]="child.id">
        {{ child.firstName }} {{ child.lastName }}
      </option>
    </select>

  </aside>

  <!-- Main content -->
  <div class="main-content">
    <h1>Логопедические занятия</h1>


    <!-- Кнопка всегда видна, если логопед -->
    <div *ngIf="currentRole === 'logoped'" class="add-lessons-btn-container">
      <button class="add-lessons-btn" (click)="openModal()">Подобрать занятия</button>
    </div>

      <div class="add-lessons-btn-container" *ngIf="upcomingLessons.length === 0">
        <button class="add-lessons-btn" (click)="openModal()">Подобрать занятия</button>
      </div>


    <app-lesson-modal
      *ngIf="showModal"
      [hasSpeechCard]="hasSpeechCard"
      (closeModal)="showModal = false"
      (confirmBooking)="handleBooking($event)">
    </app-lesson-modal>

      <div *ngIf="upcomingLessons.length > 0">
        <h2>Предстоящие занятия</h2>
        <div class="lesson-cards">
          <div class="lesson-card" *ngFor="let lesson of upcomingLessons">
            <p><strong>Тип:</strong> {{ lesson.type }}</p>
            <p><strong>Дата занятия:</strong> {{ lesson.dateOfLesson | date:'dd.MM.yyyy HH:mm' }}</p>
            <p *ngIf="lesson.homeworkId !== null"><strong>Домашнее задание:</strong> {{ lesson.homework ? 'задано' : 'нет заданий'}}</p>
            <a [routerLink]="['/dashboard/details', lesson.id]">Подробнее</a>
          </div>
        </div>
      </div>

      <div *ngIf="pastLessons.length > 0" style="margin-top: 40px;">
        <h2>Прошедшие занятия</h2>
        <div class="lesson-cards">
          <div class="lesson-card" *ngFor="let lesson of pastLessons">
            <p><strong>Тип:</strong> {{ lesson.type }}</p>
            <p><strong>Дата занятия:</strong> {{ lesson.dateOfLesson | date:'dd.MM.yyyy HH:mm' }}</p>
            <p *ngIf="lesson.homeworkId !== null"><strong>Домашнее задание:</strong> {{ lesson.homework ? 'задано' : 'нет заданий'}}</p>
            <a [routerLink]="['/dashboard/details', lesson.id]">Подробнее</a>
          </div>
        </div>
      </div>
      <div *ngIf="cancelledLessons.length > 0" style="margin-top: 40px;">
        <h2>Отменённые занятия</h2>
        <div class="lesson-cards">
          <div class="lesson-card" *ngFor="let lesson of cancelledLessons">
            <p><strong>Тип:</strong> {{ lesson.type }}</p>
            <p><strong>Дата занятия:</strong> {{ lesson.dateOfLesson | date:'dd.MM.yyyy HH:mm' }}</p>
            <p *ngIf="lesson.homeworkId !== null">
              <strong>Домашнее задание:</strong> {{ lesson.homework ? 'задано' : 'нет заданий'}}
            </p>
            <a [routerLink]="['/dashboard/details', lesson.id]">Подробнее</a>
          </div>
        </div>
      </div>



    <div *ngIf="toastMessage" class="toast">
      {{ toastMessage }}
    </div>


  </div>
</div>
