.profile-container {
  display: flex;
  height: 100%;
  min-height: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.tab-list button {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  border-left: 4px solid transparent;
}

.tab-list button.active {
  font-weight: bold;
  background-color: #fff;
  border-left: 4px solid #007bff;
  color: #007bff;
}

.tab-content {
  flex-grow: 1;
  padding: 2rem;
  background-color: #fff;
}

.tab-section {
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  box-sizing: border-box;
}

button {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.tab-button {
  color: #777;
}
.support-text {
  margin-top: 1.5rem;
}


.sub-tab-list {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.sub-tab-button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: #888686;
  cursor: pointer;
}

.sub-tab-button.active {
  background: #007bff;
  color: white;
}

.lessons-container {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.lessons-table {
  width: 100%;
  max-width: 600px;
  margin: 20px auto 0 auto;
}

.lessons-table table {
  width: 100%;
  border-collapse: collapse;
}
.lessons-table th,
.lessons-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
  white-space: nowrap;
}

.lessons-table th:nth-child(1),
.lessons-table td:nth-child(1) {
  width: 80px; /* Дата */
}

.lessons-table th:nth-child(2),
.lessons-table td:nth-child(2) {
  width: 200px; /* Тема */
}

.lessons-table th:nth-child(3),
.lessons-table td:nth-child(3) {
  width: 150px; /* Статус */
}
.lessons-chart {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
a {
  color: #ef019b;
  text-decoration: none;
  font-weight: 500;
}
.form-control {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: inherit;
  box-sizing: border-box;
  background-color: white;
  transition: all 0.2s ease;
}

.form-control:focus {
  outline: none;
  border-color: #ef019b;
  box-shadow: 0 0 8px rgba(239, 1, 155, 0.3);
}
