<!-- Секция 1 -->
<section class="hero-section">
  <div class="container">
    <h1>Занятия с логопедом</h1>
    <p>Поможем ребенку исправить особенности речи, чтобы фыфки стали шишками, а тигл - тигром</p>
    <a routerLink="/diagnostic" class="secondary-btn">Бесплатная диагностика</a>
    <img src="assets/promo/boy.png" alt="Boy">
  </div>
</section>


<!-- Секция 2 -->
<section class="diagnostic-section">
  <div class="container">
    <div class="content">
      <div class="text-block">
        <h2>Бесплатная диагностика с логопедом</h2>
        <p>Педагог проверит какие особенности есть у ребенка и предложит индивидуальный план занятий</p>

      </div>
      <div class="button-block">
        <a routerLink="/login" class="white-btn">Зарегистрироваться</a>
      </div>
      <img src="assets/promo/figures.png" alt="Figures">
    </div>
  </div>
</section>


