/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rubik+Mono+One&display=swap');
:root {
  --title-font: 'Rubik Mono One', sans-serif;
  --title2-font: 'Dela Gothic One', sans-serif;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  margin:0;
}
