<full-calendar *ngIf="calendarOptions" [options]="calendarOptions"></full-calendar>
<!-- Простое модальное окно -->
<div class="modal-overlay" *ngIf="isModalOpen" (click)="isModalOpen = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Детали занятия</h2>
    <p><strong>Тип:</strong> {{ selectedLesson?.type }}</p>
    <p><strong>Тема:</strong> {{ selectedLesson?.topic }}</p>
    <p><strong>Статус:</strong> {{ selectedLesson?.status }}</p>
    <p><strong>Описание:</strong> {{ selectedLesson?.description }}</p>
    <p><strong>Дата:</strong> {{ selectedLesson?.dateOfLesson | date: 'EEEE, d MMMM y г., HH:mm:ss' }}</p>
    <p><strong>Логопед:</strong> {{ logopedFullName }}</p>
    <p *ngIf="selectedLesson?.homework !== null">
      <strong>Домашнее задание:</strong>
      {{ selectedLesson?.homework || 'не задано' }}
    </p>
    <p><a [routerLink]="['/dashboard/details', selectedLesson?.id]">Подробнее</a></p>

    <button (click)="isModalOpen = false">Закрыть</button>
  </div>
</div>
