<section class="diagnostic-process">
  <div class="container content">
    <div class="text-block">
      <h2>Как проходит диагностика</h2>
      <p>Педагог в игровой форме общается с ребёнком, проверяет произношение, словарный запас, грамматический строй и другие речевые аспекты. Всё в комфортной, дружелюбной атмосфере.</p>
    </div>
    <div class="image-block">
      <!-- Здесь будет картинка -->
    </div>
  </div>
</section>

<section class="speech-map">
  <div class="container content">
    <div class="image-block">
      <!-- Здесь будет картинка -->
    </div>
    <div class="text-block">
      <h2>Что вы получите после диагностики</h2>
      <p>По результатам будет сформирована речевая карта, где будут указаны все речевые нарушения и направления для коррекции.</p>
      <a routerLink="/login" class="secondary-btn">Зарегистрироваться</a>
    </div>

  </div>
</section>
