.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}



h2 {
  margin: 0 0 8px 0;
  font-size: 20px;
  text-align: center;
  color: #333;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}


.time-slots {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.time-slots button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
}

.time-slots button.selected {
  background-color: #ffe6f2;
  border-color: #ef019b;
  color: #ef019b;
  font-weight: 600;
}
.close-btn {
  background: white;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;
}
.close-btn:hover:not(:disabled) {
  background: white;
  color: #000;
}

input[type="date"],
input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: inherit;
  box-sizing: border-box;
}
input[type="date"]:focus {
  outline: none;
  border-color: #ef019b;
  box-shadow: 0 0 8px rgba(239, 1, 155, 0.3);
}
input[type="text"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #ef019b;
  box-shadow: 0 0 8px rgba(239, 1, 155, 0.3);
}
.modal-submit-btn {
  padding: 10px 16px;
  border: 2px solid #ddd;
  background-color: white;
  border-radius: 15px;
  color: #222;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  margin-top: 12px;
}

.modal-submit-btn:hover:not(:disabled),
.modal-submit-btn:focus-visible {
  border-color: #ef019b;
  box-shadow: 0 0 8px rgba(239, 1, 155, 0.3);
  color: #ef019b;
  outline: none;
}


textarea {
  resize: vertical;
  min-height: 60px;
}
.modal-step1-btn {
  padding: 10px 16px;
  border: 2px solid #ddd; /* бледная граница */
  color: #222;
  background-color: white;
  border-radius: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  margin-top: 8px;
}

.modal-step1-btn:hover:not(:disabled),
.modal-step1-btn:focus-visible {
  border-color: #ef019b;
  background-color: white;
  box-shadow: 0 0 8px rgba(239, 1, 155, 0.3);
  color: #ef019b;
  outline: none;
}
